.nav-main {
    background-color: #29292a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 13px;
    border-bottom: 1px solid grey;
}

.nav-main h2 {
    margin: 0;
}

.nav-main a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}